---
layout: default
title: Code Portfolio
---
.container
  %h1 Code Portfolio

  %h3 Filmosaur
  %h4 Aug 2014 - Apr 2017

  %h3 DealSteal
  %h4 Mar 2012 - Mar 2015

  %h3 ClearCostMobile
  %h4 Dec 2012 - Jul 2014

  %h3 MBTIMobile
  %h4 Jun 2012 - Oct 2013

  %h3 Slice
  %h4 Jul 2011 - Oct 2011

  %h3 TrueLoop
  %h4 Sep 2009 - Feb 2014

  %h3 MainStage
  %h4 Apr 2006 - Jun 2011

  %h3 Quake 3: Arena for iPhone
  %h4 Mar 2008

  %h3 Smartfish Keyboard Driver
  %h4 Feb 2011

  %h3 VSTAU
  %h4 Spt 2007 - Jan 2012

  %h3 BPM

  %h3 TalkBackDLL
