<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

		<script type="text/javascript" src="js/ASCIIMathML.js"></script>
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Seth Kingsley<br />
                Software Engineer<br />
				<script>
					var e = "se" + "th" + "k" + "@" + "me" + "ow" + "fi" + "sh" + "ie" + "s" + "." + "co" + "m";
					document.write("<a href=\"mailto:" + e + "\">" + e + "</a>");
				</script>
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/sethk">github.com/sethk</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
